@import "tailwindcss";

@theme {
  --color-azure-deep: #24526e;
  --color-azure-vibrant: #34bbce;
  --color-bone: #f1f1ea;
  --color-white: #ffffff;

  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

/* Utilities for Grayscale Interaction */
.grayscale-transition {
  filter: grayscale(100%);
  transition: filter 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.grayscale-transition:hover {
  filter: grayscale(0%);
}

/* Base Styles */
body {
  background-color: var(--color-bone);
  color: var(--color-azure-deep);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: 700;
  letter-spacing: -0.025em;
}

button {
  transition: all 0.3s ease;
}